.arrow-block {
	margin-top: 1rem;
	margin-bottom: 1rem;
	
	.arrow-block-inner {
		background: $brand-primary;
		height: 100%;
		width: 100%;
		display: flex;
		flex-flow: column;
		position: relative;

		.img-wrap {
			img {
				width: 100%;
			}
		}

		.content-wrap {
			padding: 1rem;

			.arrow-block-header {
				display: flex;
				align-items: center;
				justify-content: space-between;
			
				.arrow-block-title {
					color: #fff;
					margin: 0 1rem 0 0;
				}

				.big-arrow {
					color: #fff;
					font-size: 3rem;
					margin: 0;
					padding: 0;
				}
			}
		}

		&:hover {
			.arrow-block-title, .big-arrow {
				color: $brand-secondary;
			}
		}

		.biglink {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			z-index: 999;
			cursor: pointer;
		}
		
	}
}


