.content-blocks {
	margin-top: 2rem;
	margin-bottom: 2rem;
	
	.content-wrapper {
		 
		 .content-block {
			height: auto;
			position: relative;
			overflow: hidden;
			display: flex;
			align-items: center;

			 
			&.image-bg {
				min-height: 350px;

				 @include breakpoint(medium) {
					 min-height: 400px;
				 }
			 }

			.content-inner {
				padding: 2rem;

				@include breakpoint(medium) {
					padding: 4rem;
				}
			 }
		 } 
		
		@include breakpoint(medium) {
			&:nth-child(2n) {
				.content-block.image-bg {
					order: 2;
				}
			}
		}
	}
	
	.content-bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		
		img {
			object-fit: cover;
    		min-height: 100%;
			min-width: 100%;
		}
	}
}