.gallery-blocks {
    padding: 1rem;
    
    @include breakpoint(medium) {
        padding: 1.5rem;
    }
    
    .gallery-item {
        margin-top: .5rem;
        margin-bottom: .5rem;
        
        @include breakpoint(medium) {
            margin-top: .75rem;
            margin-bottom: .75rem;
        }
    }
    
    .block-1, .block-3, .block-5, .block-7 {
        .gallery-item {
            @include slideInLeft(
            $duration: 1s
            );
        }
    }
    
    .block-2, .block-4, .block-6, .block-8 {
        .gallery-item {
            @include slideInRight(
            $duration: 1s
            );
        }
    }
}