.hero-blocks {
    position: relative;
    overflow: hidden;
    min-height: 300px;
    background: $brand-primary;
    
    @include breakpoint(medium) {
		 min-height: 400px;
	}
    
    @include breakpoint(large) {
		 min-height: 500px;
	}
	
	.content-bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
        z-index: 0;
		
		img {
			object-fit: cover;
    		min-height: 100%;
			min-width: 100%;
		}
        
        .img-fade {
			position: absolute;
			width: 100%;
			background: #000;
			height: 100%;
			left: 0;
			top: 0;
			z-index: 1;
			opacity: .3;
		}
	}
    
    .hero-content-wrapper {
        z-index: 2;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        
        .hero-content {
            padding-top: 2rem;
            padding-bottom: 2rem;
            
            h1 {
                color: #fff;
            }
            
            .copy-wrap p {
                color: #fff;
                font-size: 1.2rem;
            }
        }
    }
}