.hover-wrap {
	padding: 5px;
	
	.hover-block {
		padding: 5px;
	}
}


.hover-block {
	height: 250px;
	width: 100%;
	position: relative;

	@include breakpoint(medium) {
		height: 300px;
	}

	@include breakpoint(large) {
		height: 350px;
	}

	.hover-inner-wrap {
		height: 100%;
		width: 100%;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;	
	}

	.hover-head {
		z-index: 1;
		text-align: center;
		transition: all .75s ease-in-out;
		width: 80%;

		.hover-title, .hover-excerpt {
			color: #fff;
		}

		.hover-excerpt {
			opacity: 0;
			transition: all .75s ease-in-out;
			height: 0;
			display: none;

			@include breakpoint(medium) {
				display: block;
			}

			p {
				line-height: 1.4;
			}

			.more-link {
				display: none;
			}
			
			.hover-more {
				display: inline-block;
			}
		}
	}

	.img-wrap {
		transition: all 1s ease;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			min-width: 100%;
			min-height: 100%;
			object-fit: cover;
		}

		.img-fade {
			position: absolute;
			width: 100%;
			background: #000;
			height: 100%;
			left: 0;
			top: 0;
			z-index: 0;
			opacity: .3;
			transition: all .25s ease-in-out;
		}
	}

	.biglink {
		position: absolute;
		z-index: 100;
		opacity: 0;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: hidden;
		white-space: nowrap;
		background: transparent;
		cursor: pointer;
	}

	&:hover {

		.hover-head {

			.hover-excerpt {
				opacity: 1;
				height: 120px;
			}
		}

		.img-wrap {
			transform: scale(1.2);

			.img-fade {
				background: $brand-secondary;
				opacity: .8;
			}
		}
	}

}