.news-post {
	margin-top: 1rem;
	margin-bottom: 1rem;
	flex: 1 1 100%;
	
	.news-wrap {
		background: #fff;
		width: 100%;
		height: 100%;
		
		.post-thumb-link {
			position: relative;
			display: block;
			
			.post-format-icon {
				position: absolute;
				bottom: 0;
				right: .5rem;
				font-size: 2rem;
			}
		}
		
		.content-wrap {
			padding: 1rem;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 100%;

			@include breakpoint(medium) {
				padding: 1.5rem;
			}

			.news-post-title {
				margin-top: 0;
				margin-bottom: .5rem;
			}
		}
	}

	img {
		width: 100%;
		height: auto;
	}
}

.match-height {
	display: flex;
	/* wrap news-post in this dic if you want them all to be the same height */
}