.resource {
    a {
        line-height: 1.2;
        padding: .75rem 0 .75rem 40px;
        border-bottom: 1px solid $brand-primary;
        position: relative;
        display: flex;
        align-items: center;
        color: $brand-primary;

        &:hover {
            color: $brand-secondary;
        }
			
		&:before {
			font-family: Font Awesome\ 5 Free;
			display: inline-block;
			position: absolute;
			left: 0;
			background: #fff;
			border-radius: 50%;
			width: 28px;
			height: 28px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: .75rem;
			color: $brand-primary;
			border: 1px solid $brand-primary;
		}
		
		&.pdf:before {
			content: "\f1c1";
		}
		&.word:before {
			content: "\f1c2";
		}
		&.xl:before {
			content: "\f1c3";
		}
        &.image:before {
			content: "\f1c5";
		}
		&.url:before {
			content: "\f35d";
		}
	}
}