.team-member {
	cursor: pointer;
	outline: 0;
	margin-top: 1rem;
    margin-bottom: 1rem;

	.member-inner {
		margin: 0;
		outline: 0;
		
		img {
			width: 100%;
			height: auto;
			border-radius: 50%;
		}
	}

	.member-details {
		text-align: center;

		.member-title {
			margin-bottom: 0;
		}
	}
}


.team-reveal {

	.reveal-inner {
		
		.revimg {
			width: 100%;
			height: auto;
		}
	}
}