.block-2, .block-4, .block-5 {
    .work-block {
        @include breakpoint(large) {
            height: 649px;
        }
    }
}

.block-1, .block-4 {
    .work-block {
        @include slideInLeft(
        $duration: 1s
        );
    }
}

.block-3, .block-5 {
    .work-block {
        @include slideInRight(
        $duration: 1s
        );
    }
}

.block-2 {
    .work-block {
        @include slideInDown(
        $duration: 1s
        );
    }
}

.block-6 {
    .work-block {
        @include slideInUp(
        $duration: 1s
        );
    }
}

.work-wrap {
    
    &:hover {
        @include jello(
            $duration: .75s
        );
	}
}

.work-block {
	height: 250px;
	width: 100%;
	position: relative;
    margin-top: .5882352941rem;
    padding: 2rem;
    background: $brand-secondary;
    background: linear-gradient(135deg, $brand-secondary 28%,$brand-primary 100%);
    background: linear-gradient(135deg,  #4c44ff 28%,#00ebb5 100%); 
    background-size: 400% 400%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .75s all;
    overflow: hidden;

	@include breakpoint(medium) {
		height: 300px;
        margin-top: .8823529412rem;
        margin-bottom: .8823529412rem;
	}

	@include breakpoint(large) {
		height: 403px;
	}



	.hover-head {
		z-index: 2;
		text-align: center;

		.hover-title {
			color: #fff;
            position: relative;
            padding: 1rem;
            
            &:after,&:before{
                content:" ";
                width:0px;
                height:0px;
                position:absolute;
                border : 0px solid #fff;
                transition:all 1s;
            }
            
            &:after{
                top: 0;
                left: 0;

            }
            &:before{
                bottom: 0;
                right: 0;

            }
		}
	}

	.img-wrap {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: .75s all;

		img {
			min-width: 100%;
			min-height: 100%;
			object-fit: cover;
            transition: all .5s ease-in-out;
		}

		.img-fade {
			position: absolute;
			width: 100%;
			background: #000;
			height: 100%;
			left: 0;
			top: 0;
			z-index: 0;
			opacity: 0;
			transition: all .5s ease-in-out;
		}
	}

	.biglink {
		position: absolute;
		z-index: 100;
		opacity: 0;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: hidden;
		white-space: nowrap;
		background: transparent;
		cursor: pointer;
	}

	&:hover, &:focus, &:active {
        background-position: 100% 100%;
        
        .img-wrap {
            opacity: 0;
        }
        
        .hover-head .hover-title:before {
            border-bottom: 4px solid #fff;
		    border-right: 4px solid #fff;
			width: 100%;
			height: 100%;
        }
        
        .hover-head .hover-title:after {
            width: 100%;
			height: 100%;
            border-top: 4px solid #fff;
            border-left: 4px solid #fff;
        }
	}
}