.site-footer {
	width: 100%;
	background-color: $brand-tertiary;
	padding-top: 2rem;
	padding-bottom: 1rem;
	color: #fff;
	
	a {
		color: #fff;
		
		&:hover {
			text-decoration: underline;
		}
	}
		
	.widget {

		.widget-title {
			color: #fff;
			margin-top: 0;
		}

		.menu {
			li {
				display: block;
			}
		}
		
		.social-icons {
			justify-content: flex-start;
			
			.social-link-list-item {
				background: #fff;
			}
		}

	}
		
	.accred {
		font-size: 0.8rem;
		padding-top: 1rem;
		margin-top: 1rem;
		border-top: 1px solid #fff;
		
		.doc {
			border-left: 1px solid #fff;
			padding-left: .25rem;
			margin-left: .25rem;
		}
	}
}
