button, 
.button, 
.wp-block-button__link {
	background: $brand-primary;
	color: #fff;
	font-size: 1rem;
	padding: .75rem 1rem;
	    border-radius: 0;
	
	&:focus, &:hover {
		outline: 0;
		background: $brand-secondary;
		color: #fff;
	}
}

.btn-arrow {
	&:after {
		content: "\f105";
		color: #fff;
		padding-left: 1rem;
		font-family: Font Awesome\ 5 Free;
	}
}

&.btn-secondary {
	background-color: $brand-secondary;
	&:hover {
		background: $brand-primary;
	}
}

&.btn-tertiary {
	background-color: $brand-tertiary;
	&:hover {
		background: $brand-primary;
	}
}
