.category-tags {
	.cat-list {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		
		.cat-tag {
			margin: 0 .25rem .25rem 0;

			a {
				background: $brand-primary;
				color: #fff;
				font-size: 11px;
				text-transform: uppercase;
				font-weight: 400;
				padding: 3px 4px;
				
				&:hover {
					background: $brand-secondary;
				}
			}
		}
	}
}