.gallery-wrapper {	
	.gallery-item {
		.gallery-item-link {
			padding: 5px;
    		display: block;
		}
	}
	
}

.big-image {
	
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	height: 100vh;
	background-image: url( '../images/grey-spinner.gif' );
	background-position: center center;
	background-repeat: no-repeat;
	background-color: rgba(255,255,255,0.8);
	z-index: 9999999999;

	> img {
		position: absolute;
		display: block;
		height: auto;
		margin: auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.25);
		-moz-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.25);
		box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.25);
	}

	.closeit {
		position: absolute;
		top: 5px;
		right: 5px;
		z-index: 9999;
		font-size: 2rem;
		line-height: 2rem;
	}

	.slide {
		position: absolute;
		top: 50%;
		z-index: 9999;
		font-size: 4rem;
		line-height: 4rem;
		margin-top: -2rem;
	}
	.closeit i,
	.slide i {
		display: block;
		top: 0;
		padding: 5px 3px;
		cursor: pointer;
		color: #333;
	}
	.closeit span {
		color: #333;
	}
	.slide span {
		margin-top: -15px;
	}
	.slide.left {
		left: 0;
	}
	.slide.right {
		right: 0;
	}
	
}