.wf-loading {
	visibility: hidden;
}
.wf-active {
	visibility: visible;
}

.wow {
	visibility: hidden;
}

.section-wrap {
	padding-bottom: 1rem;
	
	@include breakpoint(medium) {
		padding-bottom: 2rem;
	}
}

.entry-content {
    & > :first-child {
        padding-top: 1rem;
	
        @include breakpoint(medium) {
            padding-top: 3rem;
        }
    }
    
    & > :last-child {
        padding-bottom: 1rem;
	
        @include breakpoint(medium) {
            padding-bottom: 3rem;
        }
    }
}

.page-sidebar {
	padding-top: 2rem;
}

.light-gray-bg { 
	background: $light-gray;
}

.primary-bg {
    background: $brand-primary;
}

.secondary-bg {
    background: $brand-secondary;
}

.gradient-bg {
    background: $brand-secondary;
    background: linear-gradient(135deg, $brand-secondary 28%,$brand-primary 100%);
    background: linear-gradient(135deg,  #4c44ff 28%,#00ebb5 100%); 
}

.label {
    background: transparent;
}

.off-canvas-wrapper-inner {
  min-height: 100%;
  position: static;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

:focus {
    outline: 0;
}

.reveal {
	border-radius: 5px;
	outline: 0;
	
	.close-button {
		top: 0;
		right: 0;
		color: $brand-primary;
		background: transparent;
		padding: 10px;
    	line-height: 0.5;
	}
	
	.reveal-inner {
		padding: 1rem;
	}
}
