body.login {
	background: $light-gray;
	font-family: $body-font-family;
	
	h1 a {
		background-image: url('../images/doc-tee-logo.svg');
		background-size: 300px;
		height: 130px;
		width: 320px;
		
		&:focus {
			outline: 0;
		}
	}
	
	#login_error, .message, .success {
		border-left: 4px solid $brand-primary;
		border-radius: 0;
		box-shadow: 1px 1px 3px rgba(0,0,0,.1);
	}
	
	form {
		border-radius: 0;
		box-shadow: 1px 1px 3px rgba(0,0,0,.1);
		
		.input, input[type=checkbox], input[type=text] {
			border: 1px solid $light-gray;
			border-radius: 0;
			background-color: #fff;
			box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
		}
	}
	
	#backtoblog a, #nav a {
		text-decoration: none;
		color: $brand-primary;
	}
	
	div#login form#loginform p.submit input#wp-submit,
	div#login form#lostpasswordform p.submit input#wp-submit {
		background: $brand-primary;
		color: #fff;
		font-size: 1rem;
		padding: .5rem 1rem;
		font-weight: 700;
		height: auto;
		border: 0;
		text-shadow: none;
		box-shadow: none;
		
		&:focus, &:hover {
			outline: 0;
			background: $brand-secondary;
			color: #fff;
		}
	}
}