.page-header {
    width: 100%;
	height: 100vh;
    
	.subtitle {
		font-size: rem-calc($header-font-basis * 0.50);
	}
	
	@include breakpoint(medium) {
		min-height: 500px;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		position: relative;
		overflow: hidden;
		
		.page-header-inner {
			@include grid-row;
			width: 100%;
			z-index: 3;
		}
	
		.page-header-background {
			position: absolute;
			width: 100%;
			height: 50%;
			left: 0;
			bottom: 0;
			z-index: 2;
			background: #000;
			background: linear-gradient( rgba(0,0,0,0), rgba(0,0,0,.4) );
			background-blend-mode: multiply;
		}

		.entry-title {
			text-align: center;
			color: #fff;
			margin-bottom: 2rem;
			
			&:before, &:after {
				background: #fff !important;
			}
		}
		
		.subtitle {
			font-size: rem-calc($header-font-basis * 0.60);
			color: #fff;
			margin-bottom: 3rem;
		}

		.img-wrap {		
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: 1;

			img {
				min-height: 100%;
			    min-width: 100%;
				object-fit: cover;
			}
		}
	}
    
    .work-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-simple-header {
	text-align: center;
    padding-top: 1rem;
	width: 100%;
	
	@include breakpoint(medium) {
		padding-top: 2rem;
	}
	
	.entry-title {
		display: flex;
		align-items: center;
		justify-content: center;
		
		@include breakpoint(medium) {

			&:before, &:after {
				content: "";
				height: 1px;
				background: $body-font-color;
				flex: 1 0 auto;
				max-width: 300px;
			}

			span {
				padding: 0 1rem;
			}
		}
	}
}
