.page-header-inner.header-panel {
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;

	.page-header-inner-left {	
		background: $brand-primary;
		flex: 1 1 100%;
		padding: 1rem 1rem 1.5rem 1rem;
		justify-content: flex-start;
		display: flex;
		align-items: flex-start;
		flex-direction: column;

		@include breakpoint(large) {
			flex: 1 1 70%;
			max-width: 70%;
			padding: 1.5rem 2rem 2rem 2rem;
		}

		.entry-title, .subtitle {
			margin: 0;
			text-align: left;
			color: $body-font-color;

			& > a {
				color: $body-font-color;
			}
		}

		.subtitle {
			margin-top: .5rem;
		}
	}

	.page-header-inner-right {
		background: $brand-tertiary;
		padding: 1rem;
		justify-content: space-between;
		display: flex;
		align-items: center;
		flex: 1 1 100%;

		@include breakpoint(large) {
			flex: 1 1 30%;
			padding: 2rem;
		}

		.call-to-action-link {
			display: flex;
			justify-content: space-between;
			width: 100%;
			align-items: center;
			color: #fff;

			&:hover {
				color: $brand-primary;
			}

			.arrow {
				margin-left: 1rem;

				.fa {
					font-size: 1.3rem;
				}
			}

			@include breakpoint(large) {
				font-size: 1.2rem;

				.arrow {

					.fa {
						font-size: 3rem;
					}
				}
			}
		}
	}
}

