.orbit {
    width: 100%;

    .orbit-wrapper {
        height: 100%;
    }

    .orbit-bullets {
        display: none !important;
    }

    .orbit-controls {
        .orbit-previous, .orbit-next {
            font-size: 1.6rem;
            background: rgba($brand-primary,.4);

            &:hover {
                background: rgba($brand-primary,.8);
            }
        }
    }

    .orbit-container {
        padding: 0;
    }

}
