.posts-pagination {
	text-align: center;
	width: 100%;
	padding: 2rem 1rem;
	
	.page-numbers {
		color: $brand-primary;
		text-decoration:none;
		padding: 0.75rem;
		
		&.current {
			background-color: $brand-primary;
			color: #fff;
		}
	}
	
	.navigation {
		ul {
			margin: 0;
			list-style: none;
				
			li {
				display: inline;
				
				&.active a {
					background-color: $brand-primary;
					color: #fff;
				}
				
				a {
				color: $brand-primary;
				text-decoration:none;
				padding: 0.75rem;
			
					&:hover {
						background-color: $brand-primary;
						color: #fff;
					}
				}
			}
		}
	}
}