.post-navigation {
	border-top: 1px solid #d5d5d5;
    display: flex;
    align-items: center;
    justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	
	.prev-post, .next-post {
		width: 100%;
		
		@include breakpoint(medium) {
			width: 50%;
		}
		
		a {
			position: relative;
			display: block;
			padding: 1.5rem 2rem;
		}
	}
	
	.prev-post {
		padding-left: 1.5rem;
		
		@include breakpoint(medium) {
			border-right: 1px solid #d5d5d5;
			text-align: right;
		}
		
		a {
			
			&:before {
				content: "\f104";
				font-family: fontawesome;
				position: absolute;
				left: 0;
				font-size: 3rem;
				top: 0;
				color: #d5d5d5;
			}
		}
	}
	
	.next-post {
		padding-right: 1.5rem;
		
		a {
			
			&:after {
				content: "\f105";
				font-family: fontawesome;
				position: absolute;
				right: 0;
				font-size: 3rem;
				top: 0;
				color: #d5d5d5;
			}
		}
	}
}