.search-form-wrapper {
	height: 50px;

	.search-form-inner {
		height: 100%;
		border-bottom: 1px solid #F2F2EF;

		.search-form {
			display: flex;
			height: 100%;
			
			label {
				flex-grow: 1;
				
				.search-field {
					margin: 0;
					height: 100%;
					border: 0;
					box-shadow: none;
					font-size: 1rem;
					padding: .5rem 0 .5rem 1rem;
				}
			}
			
			.search-submit {
				background-color: #fff;
				background-image: url(../images/search-icon.svg);
				background-repeat: no-repeat;
				background-size: 18px 18px;
				background-position: center;
				border: 0;
				margin: 0;
				padding: 0 1.5rem;
			}
		}
	}
}