.all-the-shares {
	display: flex;
	align-items: center;
	margin-top: .5rem;
	
	.share-buttons {
		margin-left: .5rem;
		display: flex;
		
		.share-btn {
			width: 26px;
			height: 26px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #fff;
			background: $brand-primary;
			margin-left: .25rem;
			border-radius: 50%;
			
			&.facebook {
				background: #3B5998;
			}
			
			&.twitter {
				background: #1DA1F2;
			}
			
			&.whatsapp {
				background: #04BE59;
			}
			
			.fab, .fas {
				color: #fff;
			}
			
			&:hover {
				background: $brand-secondary;
				color: $brand-primary;
				text-decoration: none;
				
				.fab, .fas {
					color: $brand-primary;
				}
			}
		}
	}
}

.post-meta {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid $medium-gray;
}