.social-icons {
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style: none;
	align-items: center;
	background-color: transparent !important;
	margin: 0;
	padding: 0;

	.social-link-list-item {
		width: 2rem;
		height: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background-color: transparent;
		margin-left: 0.3125rem;
		margin-right: 0.3125rem;
		transition: background-color .25s ease-in-out;
		
		&:hover {
			background: $brand-primary;
			.social-link {
				color: #fff;
			}
		}
	}
	
	.social-link {
		text-decoration: none;
		color: $brand-primary;
		font-size: 1.1rem;
	}
	
	&.social-icons-big {
		
		justify-content: center;
		margin-bottom: 2rem;
		
		.social-link-list-item {
			width: 2.8rem;
			height: 2.8rem;
		}
		
		.social-link {
			font-size: 2rem;
		}
		
	}
	
}