.woocommerce, .woocommerce-page {
	ul.products li.product {
		text-align: center;
		
		.price {
			color: $brand-primary;
		}
		
		.button {
			display: none;
		}
	}
	
	div.product {
		p.price, span.price {
			color: $brand-primary;
		}
		
		.stock {
			color: $brand-primary;
		}
		
		form.cart .variations tbody {
			border: none;
		}
		
		.woocommerce-tabs {
			margin-bottom: 3rem;
			border-bottom: 1px solid #000;
			padding-bottom: 1rem;
			
			ul.tabs {
				border: none;
			}
		}
		
		form.cart .button {
			height: 40px;
		}
	}
	
	#respond input#submit, a.button, button.button, input.button {
		border-radius: 0;
		text-transform: uppercase;
		background-color: $brand-primary;
		color: #fff !important;
		
		&:hover {
			background-color: $brand-secondary;
			color: #fff;
		}
		
		&:disabled:hover, &:disabled[disabled]:hover {
			background-color: $brand-secondary;
			color: #fff;
		}
		
		&.alt, &.alt.disabled, &.alt.disabled:hover {
			background-color: $brand-primary;
			
			&:hover {
				background-color: $brand-secondary;
				color: #fff;
			}
		}
	}
	
	.quantity .qty {
		height: 40px;
	}
	
	.woocommerce-message {
		border-top-color: $brand-secondary;

		&:before {
			color: $brand-secondary;
		}
	}
	
	.woocommerce-error .button, .woocommerce-info .button, .woocommerce-message .button {
		background-color: $brand-secondary;
		color: #fff;
		
		&:hover {
			background-color: $brand-primary;
			color: #fff;
		}
	}
}