

iframe[name="google_conversion_frame"] {
	display: none;
}

.screen-reader-text {
	display: none;
}


.narrow-content {
	p, .entry-title, ul, h1, h2, h3, h4, h5, h6 {
		max-width: 40rem;
		margin-left: auto;
		margin-right: auto;
	}
}

/* WordPress Generated Classes */

// Media alignment
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}
.aligncenter {
  display: block;
  // margin: ($line-height-computed / 2) auto;
  height: auto;
  text-align: center;
}
.alignleft,
.alignright {
  // margin-bottom: ($line-height-computed / 2);
  height: auto;
}
.alignleft {
    float: left;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
	  
		@include breakpoint(small only) {
			float: none;
			margin-right: 0;
			width: 100%;
		}
}

.alignright {
	float: right;
	margin-left: 1.5rem;
	margin-bottom: 1rem;

	@include breakpoint(small only) {
		float: none;
		margin-left: 0;
		width: 100%;
	}
}

// Captions
.wp-caption {
  line-height: normal;
}
.wp-caption-text {
  // padding: $thumbnail-caption-padding;
}

// Text meant only for screen readers
.screen-reader-text {
  // @extend .sr-only;
  // @extend .sr-only-focusable;
}


/* Blockquote */

blockquote {
  background: #f9f9f9;
  border-left: 10px solid $secondary-color;
  margin: 2rem 1rem;
  padding: 2rem;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}





/* Comments */

.comment-list {
  list-style: none;
}
.comment-list ol {
  list-style: none;
}
.comment-form p {
  // @extend .form-group;
}
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
  // @extend .form-control;
}
.comment-form input[type="submit"] {
  @extend .button;
  // @extend .btn-primary;
}


/* Search form */
.search-form label {
  font-weight: normal;
}
.search-form .search-field {
}
.search-form .search-submit {
  @extend .button;
}
.search-form {
  min-height: 35px;

  .input-group {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    height: 100%;
  }

  .search-field {
    
  }
  .search-submit {
    background-color: $secondary-color;
	padding: 1em;
  }

}

.post-archive-search {
  position: relative;
}

.post-archive-search {
  margin-top: 1.33rem;
}

/* TinyMCE */
body#tinymce {
  margin: 12px !important;
}


/* Guttenberg resets*/
.wp-block-gallery {
	margin-left: 0;
}
