.access-controls {
	display: none;
	
	.inner {
		display: flex;
		width: 100%;
		padding-top: 1.5rem;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	
	.button {
		margin-right: 0.7rem;
	}
	
	.button,
	.readable {
		margin-bottom: 1.5rem;
	}
	
	.text-size {
		
		padding: 0 0.1rem;
		
		&.standard {
			font-size: 15px;
		}
		&.medium {
			font-size: 19px;
		}
		&.large {
			font-size: 23px;
		}
		&.xl {
			font-size: 30px;
		}
		
	}
	
}

.btn-bw {
	
	color: #FFF;
	border: none;
	background-color: #000;
	margin: 0;
	
	&:hover,
	&:focus {
		color: #FFF;
		background-color: #000;
		text-decoration: none;
	}
	
}

.btn-hc {
	
	color: #FFFF00;
	border: none;
	background-color: #000;
	margin: 0;
	
	&:hover,
	&:focus {
		color: #FFFF00;
		background-color: #000;
		text-decoration: none;
	}
	
}

.btn-text {
	
	color: #000;
	border: none;
	background-color: #fff;
	margin: 0;
	
	&:hover,
	&:focus {
		color: #fff;
		background-color: #000;
		text-decoration: none;
	}
	
}