body.theme-style-blackandwhite {
	
	.layered-header .top-nav,
	.button, .comment-form input[type=submit], .search-form .search-submit, button,
	.header-panel .page-header-inner .page-header-inner-right,
	.site-footer,
	.category-tags .cat-list .cat-tag a {
		background: #000;
		color: #fff;
	}
	
	.header-panel .page-header-inner .page-header-inner-left {
		background: #fff;
		color: #000;
	}
	
	a, 
	.main-nav .menu li.current_page_item>a, 
	.main-nav .menu li a:hover.social-icons .social-link,
	.social-icons .social-link {
		color: #000;
		
		&:hover {
			color: #666;
		}
	}
	
	.main-nav .dropdown.menu>li.is-dropdown-submenu-parent>a:after {
		border-color: #000 transparent transparent;
	}
	
	img,
	.lazy[data-original] {
		filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/s….3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		filter: grayscale(100%);
		filter: gray;
	}
	
}
