body.theme-style-highcontrast {
	background: #ff0;
	
	.layered-header .top-nav,
	.button, .comment-form input[type=submit], .search-form .search-submit, button,
	.header-panel .page-header-inner .page-header-inner-right,
	.site-footer,
	.category-tags .cat-list .cat-tag a,
    .main-nav .menu li.current_page_item>a, 
	.main-nav .menu li a:hover {
		background: #000 !important;
		color: #ff0 !important;
	}
	
	.header-panel .page-header-inner .page-header-inner-left,
    .main-nav .menu li a {
		background: #ff0 !important;
		color: #000 !important;
	}
	
	a {
		color: #000 !important;
		
		&:hover {
			color: #666 !important;
		}
	}
	
	.main-nav .dropdown.menu>li.is-dropdown-submenu-parent>a:after {
		border-color: #000 transparent transparent !important;
	}
    
    .light-gray-bg {
        background: #ff0 !important;
    }
    
    .social-icons .social-link {
        color: #ff0 !important;
    }
	
}