.inline-header {

	.main-logo {
		padding-top: .5rem;
		padding-bottom: .5rem;

		.svg-logo {
			width: auto;
			height: 60px;
		}
	}

	.header-right {
		display: flex;
	}

	
	.search-btn {
		background: transparent;
		color: $brand-primary;
		margin: 0;
		border-left: 1px solid $body-font-color;
		
		&:hover {
			color: $brand-secondary;
		}
	}
}

