.layered-header {
	
	.top-nav {
		height: 50px;
		background: $brand-tertiary;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		.social-icons {
			margin-right: .5rem;
			
			.social-link {
				color: #fff;
			}
		}

		.button {
			margin: 0;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;

			.fas {
				margin-right: .5rem;
			}
		}
	}
	
	.header-wrap {
		padding-top: .5rem;
		padding-bottom: .5rem;
		
		.main-logo {
			.svg-logo {
				height: 60px;
				width: auto;
			}
		}
	}
}