.three-split-header {
	.header-left .button {
		margin: 0;
	}

	.svg-logo {
		width: auto;
		height: 60px;
		margin: .5rem 0;
	}
			
	.left-navigation {
		justify-content: flex-end;
		display: flex;

	}
				
	.right-navigation {

		justify-content: flex-start;
		display: flex;

	}

}