.main-nav {

	.dropdown.menu>li.is-dropdown-submenu-parent>a {
		padding-right: 1.5rem !important;

		&:after {
			border-color: $brand-primary transparent transparent;
			border-width: 5px;
		}
	}

	.menu {
		align-items: flex-end;

		li {

			a {
				padding: 1rem .75rem;
				color: $body-font-color;
				text-transform: uppercase;
				text-decoration: none;

				&:hover {
					color: $brand-primary;
				}
			}

			&.current_page_item>a {
				color: $brand-primary;
			}
		}

		.is-dropdown-submenu {
			border: none;
			background: #fff;
			padding: 0;
			z-index: 9999;

			li a {
				padding: 1rem;
				font-size: 0.9rem;
			}
		}
	}

}