.off-canvas {
	background: rgba($brand-secondary,.95);
}

.off-wrapper {
	z-index: 99;
	height: 100%;
}
	
.off-canvas-menu {
	
	/*max-height: 0;
	transition: max-height .5s ease;
	overflow: hidden;
	position: absolute;
	margin: 0 auto;
	z-index: 98;
	width: 100%;*/
	
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	overflow-y: scroll;
	height: 0px;
	
	/*&.bigup {
		
		max-height: 1200px;
		
	}*/
	
	.off-canvas-inner {
		background: $brand-secondary;
		padding: 2rem 0 4rem 0;
		min-height: 100%;
	}

	.top-nav {
		width: 100%;
		display: flex;
		align-items: center;
		padding: 0;
		flex-direction: row;
		flex-wrap: wrap;
		margin-bottom: 1rem;

		.button {
			
			margin: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			background: $brand-primary;
			color: #fff;
			margin-right: .5rem;

			&:hover {
				color: $brand-secondary;
			}

			.fas {
				margin-right: .5rem;
			}
			
		}
		
		.search-btn {
			color: $brand-primary;
			border-radius: 0;
			
			@include breakpoint(medium) {
				color: #fff;
			}
		}
	}
}
	
#SearchOffCanvas {
	.close-button {
		right: .5rem;
		top: 0;
		padding: .5rem;
		color: $brand-primary;

		&:hover {
			background: $brand-secondary;
			color: $medium-gray;
		}
	}

	.search-form-wrapper {
		margin-top: 4rem;
	}
}


