.basket-case {
	font-size: 1.1rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background: $brand-primary;
	color: #fff;
	padding: .5rem;
	
	a {
		color: #fff;
	}

	.shopping-basket {
		margin-right: .5rem;
		padding-right: .5rem;
		border-right: 1px dotted $brand-primary;

		.amount {
			font-size: 0.9rem;
		}
	}

	.user-account {
		margin-right: 1rem;
		
		.username {
			font-size: 1rem;
			font-weight: 400;
		}
	}
}