.home-header {
    @include breakpoint(large) {
        display: flex;
    }
    
    .home-header-media {
        position: relative;
        z-index: 1;
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        
        @include breakpoint(large) {
            width: 50%;
        }
    }
    
    .home-header-intro {
        width: 100%;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: $brand-secondary;
        
        @include breakpoint(large) {
            width: calc(50% + 180px);
            padding: 5rem 5rem 5rem 240px;
            margin-left: -180px;
            min-height: 100vh;
        }
        
        .home-header-head, .home-header-content {
            color: $brand-primary;
        }
    }
}


.work-grid {
    
    @include breakpoint(medium) {
        padding: .8823529412rem;
        margin: .8823529412rem;
    }
    
    @include breakpoint(large) {
        margin-top: -5rem;
    }

}

.testimonials-grid {
    height: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .testiwraps {
        width: 100%;
        overflow: hidden;
    }
    
    blockquote {
        background: transparent;
        border-left: none;
        margin: 1rem;
        padding: 1rem;
        
        @include breakpoint(medium) {
            padding: 2rem 4rem;
            margin: 2rem 1rem;
        }
        
        &:before {
            color: $brand-primary;
        }
        
        cite {
            margin-top: 1rem;
            color: $brand-primary;
        }
        
        p {
            color: $brand-primary;
        }
    }
    
    .orbit .orbit-controls .orbit-next, 
    .orbit .orbit-controls .orbit-previous {
        background: transparent;
        color: $brand-primary;
        
        &:hover {
            background: transparent;
        }
    }
}