h1, h2, h3, h4 {
	font-weight: 700;
	color: $brand-primary
}
h5, h6 {
	font-weight: 700;
	color: $body-font-color;
}

a {
    color: $brand-primary;
	outline:0;
	text-decoration: none;
	font-weight: 700;
}

a:focus, a:hover {
    color: $brand-secondary;
}


.main-menu .menu li a {
	font-weight: 700;
}