.off-canvas#offCanvasFilters {
	z-index: 999;
}


.whats-on-page {
	
	/*display: flex;
	flex-direction: row;
	flex-wrap: wrap;*/

	
	.filter-results.button {
		
		width: 100%;
		padding: 0.5rem 1rem;
		background-color: $brand-primary;
		margin-right: 100% !important;
		
		&:before {
			display: inline-block;
			font-family: FontAwesome;
			font-size: 2.2rem;
			text-rendering: auto;
			content: "\f1de";
		}
		
		.label {
			@include element-invisible;
		}
		
		@include breakpoint( medium ) {
			
			&.fixed {
				
				position: fixed;
				left: -65px;
				border-radius: 50%;
				width: 130px;
				height: 130px;
				text-align: right;
				padding: 1.05rem;
				background-color: $white;
				color: $brand-primary;
				border: 2px solid $brand-primary;
				
			}
			
		}
		
		&.inline-lozenge {
			
			position: relative;
			font-size: 1rem !important;
			color: $brand-secondary;
			background-color: #fff;
			border: 1px solid #6297d9;
			border-radius: 50%;
			overflow: hidden;
			width: 60px;
			height: 60px;
			overflow: visible;
			//margin-right: 5rem;
			margin-right: auto;
			margin-left: .5rem;
			
			&:before {
				padding: 0;
				font-size: 1.3rem;
			}
			
			/*
			&:after {
				content: "Filter";
				font-family: inherit;
				position: absolute;
				top: 0;
				left: 100%;
				text-transform: uppercase;
				padding: 0.9rem 0 0 0.5rem;
				font-size: 1rem;
				line-height: 1rem;
			}
			*/
			
		}
		
	}
	
	.search-filters {
		
		//flex: 1 1 100%;
		background: $light-gray;
		padding: 0.5rem 1rem 1.5rem 1rem;
		
		@include breakpoint( large ) {
			padding: 0.5rem 1.5rem 1.5rem 1.5rem;
		}
		
		.filter-title {
			
			font-size: 1rem;
			margin-bottom: 1.5rem;
			margin-top: 0.5rem;
			
			@include breakpoint( large ) {
				margin-bottom: .75rem;
			}
			
		}
		
		select {
			font-size: .9rem;
			border: 1px solid #d4d4d4;
			margin-bottom: .5rem;
		}
		
		input {
			border: 1px solid #d4d4d4;
			margin-bottom: .5rem;
		}
		
		[type=checkbox], [type=file], [type=radio] {
			margin: 0;
		}
		
		.search-form {

			.search-field, .search-submit {
    			height: 2.4375rem;
			}
		}
		
		table {
			
			tbody {
				border: none;
				
				.dates-tbl {
					border: 1px solid #d4d4d4;
					
					td {
						
						text-align: center;
						padding: .25rem .5rem;
						height: 2.4375rem;
						
						.date-clickable {
							color: #43383e;
							font-weight: normal;
							font-size: 0.8rem;
							text-align: center;
						}
						
					}
				}
			}

			thead {
				
				background: $light-gray;
				color: $body-font-color;
				border: none;

				th {
					padding: .5rem;
					font-weight: 400;

					.button {
						
						font-weight: normal;
						text-transform: inherit;
						color: #43383e;
						margin: -.25rem 0 0 0;
						padding: 0;
						font-size: 1rem;
						background: transparent;
						
						i {
							color: $brand-primary;
							font-size: 1.3rem;
						}
						
						&:hover {
							color: $brand-secondary;
							background: transparent;
						}
					}
				}
				
			}
			
		}
		
		#custom-events-vanlocation {
			display: none;
		}
		
	}
	
	/*.search-results-wrap {
		flex: 1 1 100%;
	}
	
	@include breakpoint(large) {
		
		.search-filters {
			flex: 1 1 30%;
		}
		
		.search-results-wrap {
			flex: 1 1 70%;
		}
		
	}

	
	@include breakpoint(xlarge) {
		
		.search-filters {
			flex: 1 1 25%;
		}
		
		.search-results-wrap {
			flex: 1 1 75%;
		}
		
	}
	
	@include breakpoint(xxlarge) {
		
		.search-filters {
			flex: 1 1 20%;
		}
		
		.search-results-wrap {
			flex: 1 1 80%;
		}
		
	}*/

	
	.search-header {
		padding: 1rem 1.5rem;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		
		.entry-title {
			margin: 0 1rem .3rem 0;
		}
		
		.subtitle {
			margin: 0;
		}
	}
}



.search-results {
	
	.search-lozenges {
		padding: 0 .5rem;
		background: $light-gray;
		justify-content: flex-start;
		
		.lozenge {
			background: $brand-primary;
			border-radius: 5px;
			margin: .75rem .25rem;
			
			&:hover {
				background: $brand-secondary;
			}
		}
	}
	
	.map-wrap {
		position: relative;
		min-height: 50px;
		margin: 0;
		overflow: hidden;
		
		.map {
			background: #999;
			width: 100%;
			height: 100%;
			z-index: 1;
			height: 0;
			transition: height ease .3s;
			
			&.full-height {
				height: 400px;
			}
		}
		
		.map-button {
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			background: $brand-secondary;
			
			.hide-map {
				display: none;
				
				&.show-it {
					display: block !important;
				}
			}
			
			&:hover {
				background: $brand-tertiary;
			}
		}
	}
	
	.search-form-wrap {
		width: 100%;
		background: $brand-tertiary;
		
		.search-form .search-form-inner {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			padding: 1rem 1.5rem;
			
			h2 {
				margin: 0 1rem 0 0;
			}
			
			.search-form-inputs {
				flex: 0 0 40%;
				
				@include breakpoint(small only) {
					flex: 0 0 100%;
					margin-top: 1rem;
				}
				
				label {
					float: left;
					width: 85%;
					
					input[type=search] {
						margin: 0;
						height: 40px;
					}
				}
				
				input[type=submit] {
					display: inline-block;
					background: $brand-secondary;
					border: none;
					height: 40px;
					width: 15%;
					background-image: url(../images/search-icon-white.svg);
					background-repeat: no-repeat;
					background-size: 18px 18px;
					background-position: 50%;
				}
			}
		}
	}
	
	.search-results-content {
		
		width: 100%;
		
		@include breakpoint( xxlarge ) {
			min-height: 820px;
		}
			
		.results-activities, .results-events {
			.results-title {
				margin: 1.5rem 1.5rem 1rem 1.5rem;
			}
		}
		
		.search-content-inner {
			padding-top: 1rem;
    		padding-bottom: 1rem;
		}

		.search-results-wrap {
			display: flex;
			flex-flow: row wrap;
			width: 100%;

			.search-result-wrap {
				flex: 1 1 100%;
				padding: 1.5rem;
				
				@include breakpoint(medium) {
					flex: 1 1 50%;
				}

				.results-title {
					margin-top: 0;
				}
			}
		}
	}
}

.collection-page {
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	
	.collection-image-wrap {
		flex: 1 1 100%;
		border: 10px solid #fff;
		
		@include breakpoint(large) {
			flex: 1 1 50%;
		}
		
		.collection-image {
			margin: 0;
			width: 100%;
			min-height: 350px;
    		height: 100%;
			position: relative;
    		overflow: hidden;
			
			@include breakpoint(medium) {
				min-height: 400px;
			}
			@include breakpoint(large) {
				min-height: 500px;
			}
			
			.img-wrap {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				display: flex;
				align-items: center;			
				justify-content: center;
				
				img {
					object-fit: cover;
					min-height: 100%;
				}
			}
		}
	}
	
	.collection-content-wrap {
		flex: 1 1 100%;
		border: 10px solid #fff;
		
		@include breakpoint(large) {
			overflow-y: auto;
    		max-height: 570px;
    		margin-bottom: 2rem;
			flex: 1 1 50%;
		}
		
		.collection-content {
			padding: 1rem 2rem;

		}
	}
	
	.find-more {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: .5rem;
		background: rgba(0,0,0,0.4);
		
		@include breakpoint(large) {
			position: relative;
			padding: 0;
			background: transparent;
			color: $body-font-color;
		}
		
		.view-collection-btn {
			display: flex;
			align-items: center;
			font-weight: 400;
			font-size: 1.3rem;
			color: #fff;
			
			.fa {
				font-size: 2.5rem;
				margin-right: .5rem;
			}
			
			&:hover {
				color: $brand-primary;
			}
			
			@include breakpoint(large) {
				color: $brand-primary;
				
				&:hover {
					color: $brand-secondary;
				}
			}
		}
	}
}