.search-filters {
	display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
	
	.search-filter-block {
		border-bottom: 1px solid #d5d5d5;
		flex: 1 0 25%;

		@include breakpoint(xlarge down) {
			flex: 1 0 50%;
		}
		
		@include breakpoint(large down) {
			flex: 1 0 100%;
		}
		
		@include breakpoint(small only) {
			border-bottom: none;
		}
		
		.search-filters-form {
			height: 100%;
		}

		.search-filters-inner {
			display: flex;
			justify-content: space-around;
			flex-flow: row wrap;
			height: 100%;

			.filter-wrap {
				flex: 1 1 50%;
				border-right: 1px solid #d5d5d5;
				display: flex;
				flex-flow: column;
				justify-content: space-between;
				
				&:hover {
					background: #F2F2EF;
				}
				
				@include breakpoint(small only) {
					flex: 1 1 100%;
					border-right: none;
					border-bottom: 1px solid #d5d5d5;
				}

				.filter-title {
					font-weight: 700;
					font-size: 1.1rem;
					padding: .65rem 1rem .65rem 1rem;
    				line-height: 1.1;
				}

				.label-pad {
					margin-bottom: .5rem;

					&:last-of-type {
						margin-bottom: 0;
					}
				}

				.menu.dropdown {
					margin: 0;
					padding: 0;

					& > li.is-dropdown-submenu-parent {
						width: 100%;
    					display: block;

						&.is-active {
							background-image: url(../images/menu-pointer.svg);
							background-repeat: no-repeat;
							background-position: bottom center;
							background-size: 38px 16px;
							
							& > a:after {
								content: "\f106";
							}
						}

						& > a {
							padding: 0 1.5rem 1rem 1rem;
							color: $body-font-color;
							font-weight: 400;

							&:after {
								border-color: $body-font-color transparent transparent;
								content: "\f107";
								font-family: fontawesome;
								border: none;
								position: relative;
								float: right;
								margin-top: 1px;
							}
						}
					}

					.is-dropdown-submenu {
						background: #F2F2EF;
						padding: 1rem;
						z-index: 9999;
						min-width: 220px;
						left: -1px;
						border: 1px solid #d5d5d5;
						width: 100%;

						& > li a {
							padding: 1rem;
							padding: .75rem 1rem;
							font-weight: 400;
							color: #363636;
							border-bottom: 1px solid #d5d5d5;

							&:hover {
								color: #000;
							}
						}
					}	
				}
			}
		}
	}
}